@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import 'primeicons/primeicons.css';

:root {
  --surface-ground: var(--p-slate-300);
}

:root[class*='dark-theme-enabled'] {
  --surface-ground: var(--p-zinc-950);
}

html {
  font-size: 14px;
}

body {
  background: var(--surface-ground);
}
